header {
    background-image: url('./pattern.svg');
    background-repeat: repeat;
    height: 90px;
    width: 100%;
    background-size: 1000px;
    box-shadow: 0px 4px 4px 0px #00000040;
    /*
    position: fixed;
    top: 0px;
    */
}